body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.dogs {
  max-height: 20rem;
  margin: 2rem;
  padding: 1rem;
  border: 2px double white;
  border-radius: 10px;
}
.linksBoi {
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin: 1rem;
}
.linksBoi:hover {
  opacity: 50%;
}
.cat-display {
  display: flex;
  justify-content: center;
}
